body {
    font-size: 25px;
}

h1 {
    color:brown;
    text-align: center;
}

.cnvs {
    border:2px;
    border-style: solid;
}

#graphCanvas {
    background-color:white;
    margin: auto;
    position: relative;
    
}

#inputTable {
    border-collapse: collapse;
    border: 1px solid black;
    float: left;
    margin: auto;
    max-width: 500px;
}

th {
    border: 1px solid black;
    margin: auto;
    font-size: 28px;
}

.mainBlock {
    width: 20%;
    margin: auto;
    border: 2px solid black;
}

#canvasDiv {
    float: right;
    width: 75%;
    display: flex;
    align-items: center;
}
#line {
    width:100%;
    visibility: hidden;
}

#inputW, #inputB {
    font-size: 30px;
}

button {
    width: 30%;
    margine: auto;
    font-size: 20px;
}

#lineOutput {
    background-color: white;
    
}
.mathEq {
    width: 70%;
    font-size: 30px;
    text-align: center;
}

#lossOutput {
    background-color: white;
}
