################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
web/
.sec/
logs/

.vs/
bin/
obj/
publish/
root/

[Dd]ebug/
[Rr]elease/

*.nupkg
packages/
![ackages/build/

*.key
