.sharedItems {
    border-style: none;
    float: left;
    width: 100%;
}
    .sharedItems h2 {
        text-align: center;
    }

.topicArticle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-bottom: 2em;
    text-align: center;
}

    .topicArticle article {
        width: 20em;
        border-left: 6px solid brown;
        border-radius: 15px;
        margin: 2%;
        padding-left: 1%;
        padding-right: 1%;
        font-size: 12pt;
        padding-bottom: 0.8em;
        cursor: pointer;
    }


        .topicArticle article a {
            text-decoration: none;
            color: inherit;
        }

        .topicArticle article:hover {
            box-shadow: 2px 5px 12px grey;
        }

        .topicArticle article img {
            box-shadow: 2px 5px 12px grey;
            border-radius: 0.5em;
            width: 60%;
            margin: 0 auto 1em;
        }

@media only screen and (max-width: 760px) {

    .topicArticle {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        border-bottom: 1px solid brown;
        padding-bottom: 1em;
    }

        .topicArticle article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            margin: 5%;
            text-align: center;
        }

            .topicArticle article img {
                margin: auto;
            }

            .topicArticle article a {
                text-decoration: none;
                color: inherit;
            }
}
