.head-bar {
    position: fixed;
    Top : 0;
    Left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    border-bottom: 1px solid darkred;
    color: White;
    background-image: linear-gradient(to right, rgb(81, 141,169), rgb(2, 59,86));
    padding:0.2em;
}
.title-bar {
    width:fit-content;
    display: inline-block;
    flex-grow: 1;
    font-size: 16pt;
    padding: 0;
}

.title-bar-item{
    display: block;
    height: 1em;
    float: left;
}

.nav-bar {
    width: 60%;
    font-size: 16px;
    display: inline-block;
    flex-grow: 1;
}
.nav-bar-item{
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: nowrap;
    display: block;
    width: 8em;
    height: 2em;
    float: right;
    cursor: pointer;
}

.nav-bar-item select{

    background: none;
    background-color: white;
    font-size: 16px;
    -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   border: none;
   border-radius: 0.1em;
   cursor: pointer;
   font-style: inherit;
   color: inherit;
   padding: 5%;
}

.icon-lang {
    display: inline-block;
    height: 1em;
    align-items: center;

}


.icon-lang img {
    height: 1em;
    background-color: none;
}

.head-bar a {
    color: inherit;
    font-style: normal;
    text-decoration: none;
}





@media only screen and (max-width: 820px) {

    .title-bar {
        font-size: 2vw;
    }

    .nav-bar {
        font-size: 2vw;
    }
    
    .nav-bar-item select{
        font-size: 2vw;
    }
    
}