@page "/about"
@inject IJSRuntime JS
<PageTitle>Home</PageTitle>

<div class="head-scene">
    <div id="profile">
        <img alt="kızıl şahin fotoğrafı" src="./assets/mustafa_profile.jpg" style="max-width:100%" />
    </div>
    <div class="head-title">


        <div class="personal-details">
            <div class="hand-written" style="text-align: center; font-style:italic;">
            <div id="en" class="lang-dependant">
                Software Developer | M.Sc. Computational Science | Naval Architect
                <br />
                I believe that the power is in our dreams, which enables us to percept and recreate the world around us.
            </div>
            <div id="tr" class="lang-dependant">
                Software Developer | M.Sc. Computational Science | Naval Architect
                <br />
                Çevremizdeki dünyayı algılamamızı ve yeniden yaratmamızı sağlayan gücün hayallerimizde olduğuna inanıyorum.
            </div>
            </div>
        </div>
    </div>
</div>

<div class="writing-column">
    
    <p>
        <span id="en" class="lang-dependant">
            Hi again! I am Mustafa.
            <br /><br />
            I was born in Istanbul in 1988. Now I am father of two and husband of a wonderful wife.
        </span>
        <span id="tr" class="lang-dependant">
            Yeniden merhaba! Ben Mustafa. 1988 İstanbul doğumluyum. Şimdi iki çocuk babası ve harika bir kadınla evliyim.
        </span>
    </p>

    <p>
        <span id="en" class="lang-dependant">
            I have always been curious. I guess the best thing I do was learning.
            <br /><br />
            When I was at primary school I founded a student group of science
            where learning and sharing knowledge about the astronomy, environment, biology and physics.
            <br /><br />
            In the same era, I have met with the marine vessels, from ancient sailing vessels to modern naval crafts.
            That was the big mystery which would take my attention though my whole life.
            <br /><br />
            <b>2014 - Naval Architecture</b>
            <br /><br />
            Well, before any progress I should say that Naval Architecture was my sole choice and dream of my adolescent ages.
            I was overwhelmed by the mystery of floatation and sailing. Passionate to learn principles of fluent dynamics and ship stability.
            I had created a solid understanding in the domain.
            <br /><br />
            I started to design and built my own sailing boat when I started my Bachelor's degree program .
            <br /><br />
            I launched it in 2 years and sailed with it in a summer session.
            When I graduated I become design engineer in the yacht industry.
            <br /><br />
            After 3 years of service I joined the Ministry of Transport and İnfrastructure as a Maritime Expert.
            Worked in development of ship design and construction regulations.
            I had also been assigned as an advisor member of Turkish delegation in the International Maritime Organization (IMO) London headquarters for SDC and MSC committee meetings.
            <br /><br />
            <b>2019-2022 - Transition to Software Development</b>
            <br /><br />
            As an engineer, I learnt to code before graduating, and have used these skills throughout my career in naval architecture.
            I created Excel spreadsheet scripts for analysing design solutions and decision-making processes.
            <br /><br />
            Before 2019, I created a turn-based game in Excel using VBA. It was great fun developing the primitive algorithms.
            <br /><br />
            I was captivated by software development the moment I encountered Arduino and Processing 3, a Java-based visual programming language.
            I had bought an Arduino kit for my little brother, who was at high school at the time.
            While working on a radar project with the kit, I was amazed to realise how accessible it was to create such visual applications.
            <br /><br />
            I was utterly enthralled. I put the Arduino aside and started coding in Processing 3. The more time I spent using it, the more I was drawn in by the software.
            In 2018, I remember coding a mobile game on my phone while flying to Azerbaijan to propose to my future wife. 
            It was this passion that led me to study computer science and software engineering principles in my spare time while developing a 2D isometric game engine.
            <br /><br />
            My new passion had given me new skills and a new mindset. I've always had a strong desire to create and innovate.
            As well as my regular job, I have always taken responsibility for improving business processes and intelligence.
            It was with this mindset that I started applying my coding skills to solve real-world problems.
            <br /><br />
            For example, in the Ministry of Transport and Infrastructure, I created a solution for corrupted data entries.
            The marine engine registration system contained products from 810 manufacturers with 15,153 distinct serial number formats.
            The problem was that the serial numbers had been entered manually without any validation system.
            <br /><br />
            The General Manager requested that each engine producer provide the serial number rules to be used for validating the entries.
            I gave a presentation explaining that this is not a sustainable solution, given that the number of producers is unlimited and the format standards are not restrictive.
            There are so many engines on the market that their producers may no longer be available.
            <br /><br />
            I suggested an alternative solution. I had developed an application to analyse serial numbers and extract formats from existing data entries.
            I developed a method to identify outlier format types and proposed a solution to reduce the number of formats to an easily manageable level.
            <br /><br />
            I also offered a procedure whereby officers can easily apply for a new format registry that will be approved within a few minutes using human intervention, provided they enter a serial number that has not been identified before.
            This solution is still in use. The number of serial number formats was reduced from 15,153 to 2,433.
            <br /><br />
            Besides these, I was also deeply interested in Machine Learning and Neural Networks. 
            I started learning Python in 2019 and tinkering with a JavaScript ML library, ml5.js.
            <br /><br />
            In 2020, I started M.Sc. program in Computational Science and Engineering where I studied chaotic systems and analysis. I used Machine Learning and Applied mathematics for the analysis.
            <br /><br />
            I developed a unique technique to model Epidemic systems. I suggested a way to apply Triangular Probabilistic Dsitribution to Delay Differential Equations.
            As it was realy a unique approach, it was a challenge for me to explain my professor. When he realised that I was working on a real solution and saw the results he got amazed and supported my study with great effort.
            <br /><br />
            In 2023, I published a paper with my Advisor professor about thetechnique I developed. —Aybar, O.Ö., Şentürk, M., (2023). “Implementation of a triangular
            probabilistic distribution for optimal parameterization of the SEIR model recovery rates with delay”, Chaos: an Interdisciplinary Journal
            of Nonlinear Science, https://doi.org/10.1063/5.0164226.
            <br /><br />
            <b>2022 - Software Development</b>
            <br /><br />
            Naval Architecture, despite its name, is a field of engineering with strong foundations in physics, mathematics and materials science —focused on design and construction of marine vessels. That’s where I come from.
            <br /><br />
            I realized that software development offered a much broader platform for me to do just that.
            The dynamic nature of the field, the ability to build complex systems from the ground up, and the constant evolution of technology really attracted me.
            I saw software development as an opportunity to apply my problem-solving and design thinking skills in a more impactful way.
            So I started a new career in software development.
            <br /><br />
            I really enjoy studying Computer Science and philosophy of software development. It is amazing to witness the emergence of such impressive systems above layers of abstractions, from logic circuits to networks.
            <br /><br />
            While I value my experience in naval architecture, I'm excited to pursue my passion for software development, where I can innovate and contribute to shaping the digital world.
            <br /><br />
            I believe that the power is in our dreams, which enables us to percept and recreate the world around us.
        </span>
        <span id="tr" class="lang-dependant">
            Her zaman meraklı olmuşumdur. Sanırım en iyi yaptığım şey öğrenmekti.
            İlkokul yıllarımda bir öğrenci bilim grubunun (Bilim Grubu) kurucu ortağıydım.
            Evren, çevre, biyoloji ve hatta fizik gibi alanlarda bilgiler öğreniyor
            ve bunları paylaşıyorduk.
            <br /><br />
            Aynı dönemde, gemilerle tanıştım; antik yelkenli gemilerden modern deniz araçlarına kadar.
            <br />
            Benim için bu alan, gelecekteki tüm hayatım boyunca ilgimi çekecek büyük bir gizemdi.
            <br /><br />
            <b>2014 - Gemi İnşaatı ve Gemi Makinaları Mühendisliği</b>
            <br /><br />
            Öncelikle, şunu söylemeliyim ki, Gemi İnşaatı ve Gemi Makinaları Mühendisliği meslek olarak tek tercihimdi ve hayalimdi.
            Nesnelerin yüzebilirliği ve yelkenlerin nasıl çalıştığı benim için karşı konulamaz bir merak idi. Akışkanlar mekaniği ve denge konusu öğrenmek için can attığım konulardı.
            Lisans eğitimime başlayan kadar bu alanda sağlam bir temel anlayışa sahip olmuştum.
            <br /><br />
            Lisans programıma başladığımda kendim için bir yelkenli tekne tasarlamaya ve inşa etmeye başladım.
            <br /><br />
            Tekenemi 2 yıl içinde tamamladım ve bir yaz döneminde onunla denize açıldım. Mezun olduğumda yat sektöründe dizany mühendisi olarak çalışmaya başladım.
            <br /><br />
            Yat sektöründe 3 yıl hizmet verdikten sonra Ulaştırma ve Altyapı Bakanlığı'nda Denizcilik Uzmanlığı kadrosu ile göreve başladım.
            Gemi inşa alanındaki yönetmeliklerin geliştirilmesinde ve sektörel bazı problemlere çözüm geliştirilmesinde çalıştım.
            <br />
            Uluslararası Denizcilik Örgütü (IMO) Londra genel merkezinde SDC ve MSC komite toplantılarında danışman üye olarak Türk delegasyonunda görevler aldım.
            <br /><br />
            İş ortamımda, olağan görevlerim dışında iş süreçlerini ve karar destek mekanizmalarını geliştirmek için her zaman sorumluluk aldım.
            <br /><br />
            <b>2019-2022 - Yazılıma Geçiş Süreci</b>
            <br /><br />
            Bir mühendis olarak mezun olmadan önce kod yazmayı öğrenmiştim ve bu becerilerimi gemi inşa mühendisliği kariyerim boyunca kullandım.
            Tasarım çözümlerini ve karar verme süreçlerini analiz etmek için Excel tablolarında komut dosyaları oluşturdum.
            <br /><br />
            2019'a kadar önce Excel'de VBA kullanarak turn-based basit bir oyun yazmıştım. Bunun için basit algoritmaları geliştirmek eğlenceliydi.
            Ancak bu benim için ufak bir uğraştı ve fazla vakit ayırmazdım.
            <br /><br />
            Arduino ve Java tabanlı görsel bir programlama dili olan Processing 3 ile karşılaştığım anda yazılım geliştirmenin büyüsüne kapıldım.
            O zamanlar lisede okuyan küçük kardeşim için bir Arduino kiti almıştım.
            Bir radar projesi üzerinde çalışırken, bu tür görsel uygulamalar yaratmanın ne kadar erişilebilir olduğunu fark ettiğimde şaşırmıştım.
            <br /><br />
            Tamamen büyülenmiştim. Arduino'yu bir kenara bırakıp Processing 3'e odaklanmıştım. Yazılım geliştirmek git gide beni içine çekiyordu.
            2018'de Müstakbel eşimle nişanlanmak üzere Azerbaycan'a uçarken telefonumda basit bir oyun kodluyordum. Bir balonu ok yağmurundan koruma oyunuydu.
            Bu tutku ile 2019 yılında bir yandan 2D izometrik oyun motoru geliştirirken diğer yandan boş zamanlarımda bilgisayar bilimi ve yazılım mühendisliği prensipleri üzerine çalışmaya başlamıştım.
            <br /><br />
            Yeni tutkum bana yeni beceriler ve yeni bir bakış kazandırdı.
            Normal işimin yanı sıra, iş süreçlerini ve karar alma süreçlerini geliştirmek için sorumluluk alan ve girişimci birisiydim.
            İşte bu bakış açısıyla kodlama becerilerimi gerçek dünyadaki sorunları çözmek için uygulamaya başladım.
            <br /><br />
            Örneğin, Ulaştırma ve Altyapı Bakanlığı'nda bozuk veri girişleri için bir çözüm oluşturdum.
            Deniz motoru kayıt sistemi, 810 üreticinin 15.153 farklı seri numarası formatına sahip ürünlerini içeriyordu.
            Sorun, seri numaralarının herhangi bir doğrulama sistemi olmaksızın manuel olarak girilmiş olmasıydı.
            <br /><br />
            Genel Müdür, her bir motor üreticisinden girişleri doğrulamak için kullanılacak seri numarası kurallarını sağlamasını talep etti.
            Üretici sayısının sınırsız olduğu ve format standartlarının kısıtlayıcı olmadığı göz önüne alındığında bunun sürdürülebilir bir çözüm olmadığını açıklayan bir sunum yaptım.
            Piyasada artık üreticilerine erişilemeyen pek çok motor da dolaşıyor olmalıydı.
            <br /><br />
            Alternatif bir çözüm önerdim. Seri numaralarını analiz etmek ve mevcut veri girişlerinden formatları çıkarmak için bir uygulama geliştirmiştim.
            Aykırı format türlerini belirlemek için bir yöntem geliştirdim ve format sayısını kolayca yönetilebilir bir düzeye indirmek için bir çözüm önerdim.
            <br /><br />
            Ayrıca, memurların daha önce tanımlanmamış bir seri numarası girmeleri koşuluyla, insan müdahalesi kullanılarak birkaç dakika içinde onaylanacak yeni bir format kaydı için kolayca başvurabilecekleri bir prosedür önerdim.
            Bu çözüm halen kullanılmaktadır. Seri numarası formatlarının sayısı 15.153'ten 2.433'e düşürüldü.
            <br /><br />
            Bunların yanı sıra Makine Öğrenimi ve Sinir Ağları ile de yakından ilgileniyordum. 
            2019'da Python öğrenmeye ve ml5.js JavaScript kütüphanesini kurcalamaya başladım.
            <br /><br />
            Epidemik sistemleri modellemek için benzersiz bir teknik geliştirdim. Üçgen Olasılıksal Dağılımı Gecikmeli Diferansiyel Denklemlere uygulamak için bir yol önerdim.
            Bu gerçekten benzersiz bir yaklaşım olduğu için hocama açıklamak benim için zor oldu. 
            Gerçek bir çözüm üzerinde çalıştığımı anladığında ve sonuçları gördüğünde çok şaşırdı ve büyük bir gayretle çalışmamı destekledi.
            <br /><br />
            2023 yılında Danışman hocamla birlikte geliştirdiğim teknik hakkında bir makale yayınladım. —Aybar, O.Ö., Şentürk, M., (2023). “Implementation of a triangular
            probabilistic distribution for optimal parameterization of the SEIR model recovery rates with delay”, Chaos: an Interdisciplinary Journal
            of Nonlinear Science, https://doi.org/10.1063/5.0164226.
            <br /><br />
            <b>2022 - Yazılım Geliştirme</b>
            <br /><br />
            Gemi İnşaatı ve Gemi Makinaları Mühendisliği, fizik, matematik ve malzeme bilimi temellerine dayanan, deniz araçlarının tasarım ve inşası üzerine odaklanmış bir alandır. Benim de mühendislik yolculuğum bu temellerle başladı.
            <br /><br />
            Hep meraklı ve yenilikçi bir ruhum oldu.
            Yazılım geliştirme alanının, yaratıcılığımı daha geniş bir platformda ifade etme fırsatı sunduğunu fark ettim.
            Bu alandaki dinamik yapı, karmaşık sistemleri sıfırdan inşa etme yeteneği ve teknolojinin sürekli evrimi beni gerçekten cezbetti.
            Yazılım geliştirmeyi, problem çözme ve tasarım odaklı düşünme becerilerimi daha etkili bir şekilde uygulayabileceğim bir fırsat olarak gördüm.
            <br /><br />
            Bilgisayar Bilimleri ve yazılım geliştirme felsefesi üzerine çalışmaktan gerçekten keyif alıyorum. Mantık devrelerinden ağlara kadar soyutlama katmanlarının üzerinde böylesine etkileyici sistemlerin ortaya çıkışına tanık olmak şaşırtıcı geliyor.
            <br /><br />
            Bu alanda sahip olduğum tecrübenin benim için anlamı büyük olsa da, yazılım geliştirme tutkumun peşinden gitmekten heyecan duyuyorum.
            <br /><br />
            Çevremizdeki dünyayı algılamamızı ve yeniden yaratmamızı sağlayan gücün hayallerimizde olduğuna inanıyorum.
        </span>
    </p>
</div>
<NavLink class="resume-download" href="resume">
    <span id="en" class="lang-dependant">
        View My Resume (PDF)
    </span>
    <span id="tr" class="lang-dependant">
        Öz geçmiş indir (PDF)
    </span>
</NavLink>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        await Task.Delay(200);
        await JS.InvokeVoidAsync("checkLang"); // Calls the JS function
    }
}