@page "/about"
@inject IJSRuntime JS
<PageTitle>Home</PageTitle>

<div class="head-scene">
    <div id="profile">
        <img alt="kızıl şahin fotoğrafı" src="./assets/mustafa_profile.jpg" style="max-width:100%" />
    </div>
    <div class="head-title">


        <div class="personal-details">
            <div class="hand-written" style="text-align: center; font-style:italic;">
            <div id="en" class="lang-dependant">
                Software Developer | M.Sc. Computational Science | Naval Architect
                <br />
                I believe that the power is in our dreams, which enables us to percept and recreate the world around us.
            </div>
            <div id="tr" class="lang-dependant">
                Software Developer | M.Sc. Computational Science | Naval Architect
                <br />
                Çevremizdeki dünyayı algılamamızı ve yeniden yaratmamızı sağlayan gücün hayallerimizde olduğuna inanıyorum.
            </div>
            </div>
        </div>
    </div>
</div>

<div class="writing-column">
    
    <p>
        <span id="en" class="lang-dependant">
            Hi again! I am Mustafa.
            <br /><br />
            I was born in Istanbul in 1988. Now I am father of two and husband of a wonderful wife.
        </span>
        <span id="tr" class="lang-dependant">
            Yeniden merhaba! Ben Mustafa. 1988 İstanbul doğumluyum. Şimdi iki çocuk babası ve harika bir kadınla evliyim.
        </span>
    </p>

    <p>
        <span id="en" class="lang-dependant">
            I have always been curious. I guess the best thing I do was learning.
            <br /><br />
            When I was at primary school I founded a student group of science
            where learning and sharing knowledge about the astronomy, environment, biology and physics.
            <br /><br />
            In the same era, I have met with the marine vessels, from ancient sailing vessels to modern naval crafts.
            That was the big mystery which would take my attention though my whole life.
            <br /><br />
            <b>2014 - Naval Architecture</b>
            <br /><br />
            Well, before any progress I should say that Naval Architecture was my sole choice and dream of my adolescent ages.
            I was overwhelmed by the mystery of floatation and sailing. Passionate to learn principles of fluent dynamics and ship stability.
            I had created a solid understanding in the domain.
            <br /><br />
            I started to design and built my own sailing boat when I started my Bachelor's degree program .
            <br /><br />
            I launched it in 2 years and sailed with it in a summer session.
            When I graduated I become design engineer in the yacht industry.
            <br /><br />
            After 3 years of service I joined the Ministry of Transport and İnfrastructure as a Maritime Expert.
            Worked in development of ship design and construction regulations.
            I had also been assigned as an advisor member of Turkish delegation in the International Maritime Organization (IMO) London headquarters for SDC and MSC committee meetings.
            <br /><br />
            <b>2019-2022 - Transition to Software Development</b>
            <br /><br />
            As an engineer, I learnt to code before graduating, and have used these skills throughout my career in naval architecture.
            I created Excel spreadsheet scripts for analysing design solutions and decision-making processes.
            <br /><br />
            My passion for software truly ignited when I discovered Arduino and Processing 3, a Java-based visual programming language. 
            While helping my younger brother with an Arduino project, I was captivated by how accessible it was to build visual applications. 
            This 'aha!' moment led me to deeply explore computer science and software engineering principles in my spare time, even as I developed a 2D isometric game engine.
            <br /><br />
            Over time, I started to effectively apply my coding skills to solve real problems. For instance, in the Ministry of Transport and Infrastructure,
            I innovated a project to solve a problem of corrupted data entries in the marine engine registration system, containing products of 810 manufacturers with 15153 distinct serial number formats, reduced to 2433 at the end and implemented a validation for new entries.
            <br /><br />
            In 2020, I started M.Sc. program in Computational Science and Engineering focusing on chaotic systems analysis using Machine Learning and Applied Mathematics.
            I developed a unique technique to integrate Triangular Probabilistic Disitribution to Delay Differential Equations.
            <br /><br />
            In 2023, I published a paper with my Advisor professor about thetechnique I developed. —Aybar, O.Ö., Şentürk, M., (2023). “Implementation of a triangular
            probabilistic distribution for optimal parameterization of the SEIR model recovery rates with delay”, Chaos: an Interdisciplinary Journal
            of Nonlinear Science, https://doi.org/10.1063/5.0164226.
            <br /><br />
            <b>2022 - Software Development</b>
            <br /><br />
            Naval Architecture, despite its name, is a field of engineering with strong foundations in physics, mathematics and materials science —focused on design and construction of marine vessels. That’s where I come from.
            <br /><br />
            I realized that software development offered a much broader platform for me to do just that.
            The dynamic nature of the field, the ability to build complex systems from the ground up, and the constant evolution of technology really attracted me.
            I saw software development as an opportunity to apply my problem-solving and design thinking skills in a more impactful way.
            So I started a new career in software development.
            <br /><br />
            I really enjoy studying Computer Science and philosophy of software development. It is amazing to witness the emergence of such impressive systems above layers of abstractions, from logic circuits to networks.
            <br /><br />
            While I value my experience in naval architecture, I'm excited to pursue my passion for software development, where I can innovate and contribute to shaping the digital world.
            <br /><br />
            I believe that the power is in our dreams, which enables us to percept and recreate the world around us.
        </span>
        <span id="tr" class="lang-dependant">
            Her zaman meraklı olmuşumdur. Sanırım en iyi yaptığım şey öğrenmekti.
            İlkokul yıllarımda bir öğrenci bilim grubunun (Bilim Grubu) kurucu ortağıydım.
            Evren, çevre, biyoloji ve hatta fizik gibi alanlarda bilgiler öğreniyor
            ve bunları paylaşıyorduk.
            <br /><br />
            Aynı dönemde, gemilerle tanıştım; antik yelkenli gemilerden modern deniz araçlarına kadar.
            <br />
            Benim için bu alan, gelecekteki tüm hayatım boyunca ilgimi çekecek büyük bir gizemdi.
            <br /><br />
            <b>2014 - Gemi İnşaatı ve Gemi Makinaları Mühendisliği</b>
            <br /><br />
            Öncelikle, şunu söylemeliyim ki, Gemi İnşaatı ve Gemi Makinaları Mühendisliği meslek olarak tek tercihimdi ve hayalimdi.
            Nesnelerin yüzebilirliği ve yelkenlerin nasıl çalıştığı benim için karşı konulamaz bir merak idi. Akışkanlar mekaniği ve denge konusu öğrenmek için can attığım konulardı.
            Lisans eğitimime başlayan kadar bu alanda sağlam bir temel anlayışa sahip olmuştum.
            <br /><br />
            Lisans programıma başladığımda kendim için bir yelkenli tekne tasarlamaya ve inşa etmeye başladım.
            <br /><br />
            Tekenemi 2 yıl içinde tamamladım ve bir yaz döneminde onunla denize açıldım. Mezun olduğumda yat sektöründe dizany mühendisi olarak çalışmaya başladım.
            <br /><br />
            Yat sektöründe 3 yıl hizmet verdikten sonra Ulaştırma ve Altyapı Bakanlığı'nda Denizcilik Uzmanlığı kadrosu ile göreve başladım.
            Gemi inşa alanındaki yönetmeliklerin geliştirilmesinde ve sektörel bazı problemlere çözüm geliştirilmesinde çalıştım.
            <br />
            Uluslararası Denizcilik Örgütü (IMO) Londra genel merkezinde SDC ve MSC komite toplantılarında danışman üye olarak Türk delegasyonunda görevler aldım.
            <br /><br />
            İş ortamımda, olağan görevlerim dışında iş süreçlerini ve karar destek mekanizmalarını geliştirmek için her zaman sorumluluk aldım.
            <br /><br />
            <b>2019-2022 - Yazılıma Geçiş Süreci</b>
            <br /><br />
            Bir mühendis olarak mezun olmadan önce kod yazmayı öğrenmiştim ve bu becerilerimi gemi inşa mühendisliği kariyerim boyunca kullandım.
            Tasarım çözümlerini ve karar verme süreçlerini analiz etmek için Excel tablolarında komut dosyaları oluşturdum.
            <br /><br />
            Yazılıma olan tutkum, Arduino'yu ve Java tabanlı bir görsel programlama dili olan Processing 3'ü keşfettiğimde gerçekten alevlendi.
            Küçük kardeşime bir Arduino projesinde yardım ederken, görsel uygulamalar oluşturmanın ne kadar erişilebilir olduğunu görünce büyülendim.
            Bu “aha!” anı, 2D izometrik bir oyun motoru geliştirirken bile boş zamanlarımda bilgisayar bilimi ve yazılım mühendisliği ilkelerini derinlemesine keşfetmeme yol açtı.
            <br /><br />
            Zamanla, kodlama becerilerimi gerçek problemleri çözmek için etkili şekilde uygulamaya başladım. Örneğin, Ulaştırma ve Altyapı Bakanlığı'nda,
            810 üreticinin 15153 farklı seri numarası formatına sahip ürünlerini içeren 
            deniz motoru kayıt sistemindeki bozuk veri girişleri sorununu çözmek için bir proje geliştirdim, 
            sonunda 2433'e indirdim ve yeni girişler için bir doğrulama uyguladım.
            <br /><br />
            2020 yılında, Makine Öğrenimi ve Uygulamalı Matematik kullanarak kaotik sistem analizine odaklanan Hesaplamalı Bilim ve Mühendislik alanında yüksek lisans programına başladım.
            Bu süreçte Gecikmeli Diferansiyel Denklemlere Üçgen Olasılıksal Dağılım fonksiyonu etegre edebilmek için bir yöntem geliştirdim.
            <br /><br />
            2023 yılında Danışman hocamla birlikte geliştirdiğim teknik hakkında bir makale yayınladım. —Aybar, O.Ö., Şentürk, M., (2023). “Implementation of a triangular
            probabilistic distribution for optimal parameterization of the SEIR model recovery rates with delay”, Chaos: an Interdisciplinary Journal
            of Nonlinear Science, https://doi.org/10.1063/5.0164226.
            <br /><br />
            <b>2022 - Yazılım Geliştirme</b>
            <br /><br />
            Gemi İnşaatı ve Gemi Makinaları Mühendisliği, fizik, matematik ve malzeme bilimi temellerine dayanan, deniz araçlarının tasarım ve inşası üzerine odaklanmış bir alandır. Benim de mühendislik yolculuğum bu temellerle başladı.
            <br /><br />
            Hep meraklı ve yenilikçi bir ruhum oldu.
            Yazılım geliştirme alanının, yaratıcılığımı daha geniş bir platformda ifade etme fırsatı sunduğunu fark ettim.
            Bu alandaki dinamik yapı, karmaşık sistemleri sıfırdan inşa etme yeteneği ve teknolojinin sürekli evrimi beni gerçekten cezbetti.
            Yazılım geliştirmeyi, problem çözme ve tasarım odaklı düşünme becerilerimi daha etkili bir şekilde uygulayabileceğim bir fırsat olarak gördüm.
            <br /><br />
            Bilgisayar Bilimleri ve yazılım geliştirme felsefesi üzerine çalışmaktan gerçekten keyif alıyorum. Mantık devrelerinden ağlara kadar soyutlama katmanlarının üzerinde böylesine etkileyici sistemlerin ortaya çıkışına tanık olmak şaşırtıcı geliyor.
            <br /><br />
            Bu alanda sahip olduğum tecrübenin benim için anlamı büyük olsa da, yazılım geliştirme tutkumun peşinden gitmekten heyecan duyuyorum.
            <br /><br />
            Çevremizdeki dünyayı algılamamızı ve yeniden yaratmamızı sağlayan gücün hayallerimizde olduğuna inanıyorum.
        </span>
    </p>
</div>
<NavLink class="resume-download" href="resume">
    <span id="en" class="lang-dependant">
        View My Resume (PDF)
    </span>
    <span id="tr" class="lang-dependant">
        Öz geçmiş indir (PDF)
    </span>
</NavLink>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        await Task.Delay(200);
        await JS.InvokeVoidAsync("checkLang"); // Calls the JS function
    }
}