@page "/about"
@inject IJSRuntime JS
<PageTitle>Home</PageTitle>

<div class="head-scene">
    <div id="profile">
        <img alt="kızıl şahin fotoğrafı" src="./assets/mustafa_profile.jpg" style="max-width:100%" />
    </div>
    <div class="head-title">
        <div class="personal-details">
            <div class="hand-written" style="text-align: center; font-style:italic;">
                <div id="en" class="lang-dependant">
                    Software Developer | M.Sc. Computational Science | Naval Architect
                    <br />
                    I believe that the power is in our dreams, which enables us to percept and recreate the world around us.
                </div>
                <div id="tr" class="lang-dependant">
                    Software Developer | M.Sc. Computational Science | Naval Architect
                    <br />
                    Çevremizdeki dünyayı algılamamızı ve yeniden yaratmamızı sağlayan gücün hayallerimizde olduğuna inanıyorum.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="writing-column">

    <p>
        <span id="en" class="lang-dependant">
            Hi again! I am Mustafa.
            <br /><br />
            I was born in Istanbul in 1988. Now I am father of two and husband of a wonderful wife.
            <br /><br />
            I have always been curious. I guess the best thing I do is learning.
            <br /><br />
            When I was at primary school I founded a student group of science. We were learning and sharing knowledge about astronomy, environment, biology, physics etc.
            <br /><br />
            In the same era, I met with the marine vessels, from ancient sailing vessels to modern naval crafts.
            That was the big mystery which would take my attention though my whole life.
        </span>
        <span id="tr" class="lang-dependant">
            Yeniden merhaba! Ben Mustafa. 1988 İstanbul doğumluyum. Şimdi iki çocuk babasıyım ve harika bir kadınla evliyim.
            <br /><br />
            Her zaman meraklı olmuşumdur. Sanırım en iyi yaptığım şey öğrenmekti.
            İlkokul yıllarımda bir öğrenci bilim grubu (Bilim Grubu) kurmuştum.
            Evren, çevre, biyoloji ve hatta fizik gibi alanlarda bilgiler öğreniyor
            ve bunları paylaşıyorduk.
            <br /><br />
            Aynı dönemde, gemilerle tanıştım; antik yelkenli gemilerden modern deniz araçlarına kadar.
            <br />
            Benim için bu alan, gelecekteki tüm hayatım boyunca ilgimi çekecek büyük bir gizemdi.
        </span>
    </p>
    <h3>
        <span id="en" class="lang-dependant">2014 - Naval Architecture</span>
        <span id="tr" class="lang-dependant">2014 - Gemi İnşaatı ve Gemi Makinaları Mühendisliği</span>
    </h3>
    <p>
        <span id="en" class="lang-dependant">
            Well, before any progress I should admit that Naval Architecture was my sole choice and dream of my adolescent ages.
            I was overwhelmed by the mystery of floatation and sailing and passionate to learn principles of fluent dynamics and ship stability.
            I had created a solid understanding in marine crafts until I started my Bachelor's degree program.
            <br /><br />
            I started to design and built my own sailing boat when I started my Bachelor's degree program.
            I launched it in 2 years and sailed with it in a summer session.
            <br /><br />
            When I graduated I become design engineer in the yacht industry. I had great opportunities to work with great naval architects and engineers. 
            I was given permission to act on my own in design decisions to some degree as I was an articulate engineer.
            <br /><br />
            After 3 years of service as a design engineer, I joined the Ministry of Transport and Infrastructure as a Maritime Expert.
            Worked in development of ship design and construction regulations.
            I had also been assigned as an advisor member of Turkish delegation in the International Maritime Organization (IMO) London headquarters for SDC and MSC committee meetings.
        </span>
        <span id="tr" class="lang-dependant">
            Öncelikle, şunu söylemeliyim ki, Gemi İnşaatı ve Gemi Makinaları Mühendisliği meslek olarak tek tercihimdi ve hayalimdi.
            Nesnelerin yüzebilirliği ve yelkenlerin nasıl çalıştığı benim için karşı konulamaz bir merak idi. Akışkanlar mekaniği ve denge konusu öğrenmek için can attığım konulardı.
            Lisans eğitimime başlayan kadar bu alanda sağlam bir temel anlayışa sahip olmuştum.
            <br /><br />
            Lisans programıma başladığımda kendim için bir yelkenli tekne tasarlamaya ve inşa etmeye başladım.
            Tekenemi 2 yıl içinde tamamladım ve bir yaz döneminde onunla denize açıldım. 
            <br /><br />
            Mezun olduğumda yat sektöründe dizany mühendisi olarak çalışmaya başladım. Çok iyi Gemi İnşa mühendisleri ile çalışma fırsatım oldu. Ayrıca, kararlarımı iyi şekilde gerekçelendirerek savunabilen bir mühendis olduğum için,<a href="#"></a>
            bir dereceye kadar kendi tasarım kararlarımı almama müsade edilmişti.
            <br /><br />
            Yat sektöründe 3 yıl hizmet verdikten sonra Ulaştırma ve Altyapı Bakanlığı'nda Denizcilik Uzmanlığı kadrosu ile göreve başladım.
            Gemi inşa alanındaki yönetmeliklerin geliştirilmesinde ve sektörel bazı problemlere çözüm geliştirilmesinde çalıştım.
            <br />
            Uluslararası Denizcilik Örgütü (IMO) Londra genel merkezinde SDC ve MSC komite toplantılarında danışman üye olarak Türk delegasyonunda görevler aldım.
        </span>
    </p>
    <h3>
        <span id="en" class="lang-dependant">2019 - Transition to Software Development</span>
        <span id="tr" class="lang-dependant">2019 - Yazılıma Geçiş Süreci</span>
    </h3>
    <p>
        <span id="en" class="lang-dependant">
            I learnt to code as part of my Bachelor's degree, and have used these skills throughout my career in naval architecture.
            I have created Excel spreadsheet scripts to analyse design solutions and decision-making processes. I even developed a basic turn-based game using Excel VBA.
            However, it was just a hobby that didn't mean much to me until that 'aha!' moment.
            <br /><br />
            My passion for software ignited when I discovered Processing 3, a Java-based visual programming language.
            While helping my younger brother with an Arduino project, I was captivated by how accessible it was to build visual applications.
            <br /><br />
            This was the 'aha!' moment led me to deeply explore computer science and software engineering principles in my spare time.
            Over time, I started to effectively apply my coding skills to solve real problems.
            <br /><br />
            In 2020, I started M.Sc. program in Computational Science and Engineering focusing on chaotic systems analysis using Machine Learning and Applied Mathematics.
            I developed a unique technique to integrate Triangular Probabilistic Disitribution to Delay Differential Equations.
        </span>
        <span id="tr" class="lang-dependant">
            Kodlama öğrenmek bir mühendis olarak lisans eğitimimin bir parçasıydı ve bu becerilerimi gemi inşa mühendisliği kariyerim boyunca kullandım.
            Tasarım çözümlerini ve karar verme süreçlerini analiz etmek için Excel'de komut dosyaları oluştururdum. 
            Yine de kodlama benim için çok da anlamı olmayan bir hobiydi. Ta ki o 'aha!' anına kadar.
            <br /><br />
            Yazılıma olan tutkum, Java tabanlı bir görsel programlama dili olan Processing 3'ü keşfettiğimde alevlendi.
            Küçük kardeşime bir Arduino projesinde yardım ederken, görsel uygulamalar oluşturmanın ne kadar erişilebilir olduğunu görünce büyülenmiştim.
            <br /><br />
            Bu “aha!” anı, beni boş zamanlarımda bilgisayar bilimi ve yazılım mühendisliği ilkelerini çalışmaya yönlendirdi.
            Zamanla, kodlama becerilerimi gerçek problemleri çözmek için etkili şekilde uygulamaya başladım.
            <br /><br />
            2020 yılında, Makine Öğrenimi ve Uygulamalı Matematik kullanarak kaotik sistem analizine odaklanan Hesaplamalı Bilim ve Mühendislik alanında yüksek lisansa başladım.
            Bu süreçte Gecikmeli Diferansiyel Denklemlere Üçgen Olasılıksal Dağılım fonksiyonu etegre edebilmek için bir yöntem geliştirdim.
        </span>
    </p>
    <h3>
        <span id="en" class="lang-dependant">2022 - Software Development</span>
        <span id="tr" class="lang-dependant">2022 - Yazılım Geliştirme</span>
    </h3>
    <p>
        <span id="en" class="lang-dependant">
            Naval Architecture, despite its name, is a field of engineering with strong foundations in physics, mathematics and materials science —focused on design and construction of marine vessels. That’s where I come from.
            <br /><br />
            I've always had a strong desire to create and innovate. I realized that software development offered a much broader platform for me to do just that.
            The dynamic nature of the field, the ability to build complex systems from the ground up, and the constant evolution of technology really attracted me.
            I saw software development as an opportunity to apply my problem-solving and design thinking skills in a more impactful way.
            So I started a new career in software development.
            <br /><br />
            I really enjoy studying Computer Science and philosophy of software development. 
            It is amazing to witness the emergence of such impressive systems above layers of abstractions, from logic circuits to networks.
            <br /><br />
            While I value my experience in naval architecture, I'm excited to pursue my passion for software development, where I can innovate and contribute to shaping the digital world.
            <br /><br />
            I believe that the power is in our dreams, which enables us to percept and recreate the world around us.
        </span>
        <span id="tr" class="lang-dependant">
            Gemi İnşaatı ve Gemi Makinaları Mühendisliği, fizik, matematik ve malzeme bilimi temellerine dayanan, deniz araçlarının tasarım ve inşası üzerine odaklanmış bir alandır. Benim de mühendislik yolculuğum bu temellerle başladı.
            <br /><br />
            Her zaman yenilikçi çözümler üretebilmek ve tasarım yapmak konusunda güçlü bir arzu duymuşumdur. Yazılım geliştirmenin, yaratıcılığımı daha geniş bir platformda ifade etme fırsatı sunduğunu fark ettim.
            Bu alandaki dinamik yapı, karmaşık sistemleri sıfırdan inşa etme yeteneği ve teknolojinin sürekli evrimi beni gerçekten cezbetti.
            Yazılım geliştirmeyi, problem çözme ve tasarım odaklı düşünme becerilerimi daha etkili bir şekilde uygulayabileceğim bir fırsat olarak gördüm.
            <br /><br />
            Bilgisayar Bilimleri ve yazılım geliştirme felsefesi üzerine çalışmaktan gerçekten keyif alıyorum. Mantık devrelerinden ağlara kadar soyutlama katmanlarının üzerinde böylesine etkileyici sistemlerin ortaya çıkışına tanık olmak şaşırtıcı geliyor.
            <br /><br />
            Bu alanda sahip olduğum tecrübenin benim için anlamı büyük olsa da, yazılım geliştirme tutkumun peşinden gitmekten heyecan duyuyorum.
            <br /><br />
            Çevremizdeki dünyayı algılamamızı ve yeniden yaratmamızı sağlayan gücün hayallerimizde olduğuna inanıyorum.
        </span>
    </p>
</div>
<NavLink class="resume-download" href="resume">
    <span id="en" class="lang-dependant">
        View My Resume (PDF)
    </span>
    <span id="tr" class="lang-dependant">
        Öz geçmiş indir (PDF)
    </span>
</NavLink>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        await Task.Delay(200);
        await JS.InvokeVoidAsync("checkLang"); // Calls the JS function
    }
}