@page "/contact"
@inject IJSRuntime JS
<PageTitle>Cotact</PageTitle>

<div class="head-scene">
    <div id="profile">
        <img alt="kızıl şahin fotoğrafı" src="./assets/mustafa_profile.jpg" style="max-width:100%" />
    </div>
    <div class="head-title">


        <div class="personal-details">
            <div id="en" class="lang-dependant">
                Software Developer | M.Sc. Computational Science | Naval Architect
            </div>
            <div id="tr" class="lang-dependant">
                Software Developer | M.Sc. Computational Science | Naval Architect
                <br />
                Driven by a passion for intelligent information management, I craft intuitive digital experiences that empower users and translate complex data into clear insights.
            </div>
        </div>

    </div>
</div>

<p>
    senturkmus@gmail.com
</p>
<p>
    https://www.linkedin.com/in/mustafa-senturk-ub9901
</p>
<p>
    https://github.com/kzlsahin
</p>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        await Task.Delay(200);
        await JS.InvokeVoidAsync("checkLang"); // Calls the JS function
    }
}
