@page "/"
@inject HttpClient Http
@inject IJSRuntime JS
<PageTitle>Home</PageTitle>

<div class="head-scene">
	<div id="kzlSahin">
		<img alt="kızıl şahin fotoğrafı" src="./assets/kizilsahin.jpeg" style="max-width:100%" />
	</div>

	<div class="head-title">

		<details class="hand-written" style="text-align: center; font-style:italic; cursor:pointer;" closed>
			<summary style="list-style:none">
				<br />Your dreams are your wind,<br />
				Blowing your sails through the life,<br />
				Open your wings and fly,<br />
				Up into the sky...<br /><br />
			</summary>
			<p>
				To See how wide the horizon is,<br />
				Look around you and open your mind,<br />
				In your dreams, you see, the power is,<br />
				Not in your muscles or in your veins...
			</p>
		</details>
		&#8212M.Senturk
	</div>

</div>

<div class="quote">
	<p class="quote-content">
		To enable a more informed and effortless human experience through intelligent information management and intuitive technological solutions.
	</p>
</div>
<div class="sharedItems">


	<h2>
		<span id="en" class="lang-dependant">My Online Profile</span>
		<span id="tr" class="lang-dependant">Online Profilim</span>
	</h2>
	<article class="topicArticle">

		<article onclick="location.href='http://kizilsahin.blogspot.com/'">
			<h3>
				<span id="en" class="lang-dependant">Personal Blog</span>
				<span id="tr" class="lang-dependant">Kişisel Blog</span>

			</h3>
			<img src="./images/blogspot-profile-image.jpg" alt="kanatlarını çırpan kızıl şahin resmi">
			<p>

				<a rel="nofollow" href="http://kizilsahin.blogspot.com/" title="kizilsahin.blogspot.com" target="_blank">

					<span id="en" class="lang-dependant">
						Personal writings about my experiences and thoughts through my life.
					</span>
					<span id="tr" class="lang-dependant">
						"Artık demir almak vakti gelmişti hayallerden,
						Doldururken yelkenlerini gelecek günlerin rüzgarı,
						haydi vira bismillah! deme vaktiydi gönülden."
					</span>
					<i>http://kizilsahin.blogspot.com/</i>
				</a>
			</p>
		</article>

		<article onclick="location.href='http://denizkurdu1.blogspot.com/'">
			<h3>
				<span id="en" class="lang-dependant">How I built</span>
				<span id="tr" class="lang-dependant">Nasıl Yaptım</span>

			</h3>
			<img src="./images/blogspot-denizkurdu1.JPG" alt="Deniz Kurdu denizden dönüyor">
			<p>

				<a rel="nofollow" href="http://denizkurdu1.blogspot.com/" title="denizkurdu1.blogspot.com" target="_blank">

					<span id="en" class="lang-dependant">
						My blog about the sailing boat I designed and built in an amateur spirit.
					</span>
					<span id="tr" class="lang-dependant">
						Tasarlayıp inşa ettiğim teknem hakkında blog sayfam
					</span>
					<i>http://denizkurdu1.blogspot.com/</i>
				</a>
			</p>
		</article>

		<article onclick="location.href='https://github.com/kzlsahin'">
			<h3>
				<span id="en" class="lang-dependant">Github</span>
				<span id="tr" class="lang-dependant">Github Profile</span>

			</h3>
			<img src="./images/github-profile.jpeg" alt="Github profil resmi">
			<p>

				<a rel="nofollow" href="https://github.com/kzlsahin" title="github.com/kzlsahin" target="_blank">

					<span id="en" class="lang-dependant">
						You may find most of the codes belongs to the work presented here.
					</span>
					<span id="tr" class="lang-dependant">
						Github hesabımda burdaki çoğu çalışmanın kodlarını bulabilirsiniz.
					</span>
					<i>https://github.com/kzlsahin</i>
				</a>
			</p>
		</article>
	</article>
</div>

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender) return;
		await Task.Delay(200);
		await JS.InvokeVoidAsync("checkLang"); // Calls the JS function
	}
}