@page "/personalprojects"
@inject HttpClient Http
@inject IJSRuntime JS
<PageTitle>Personal Projects</PageTitle>

<div class="head-scene">
	<div id="kzlSahin">
		<img alt="kızıl şahin fotoğrafı" src="./assets/kizilsahin.jpeg" style="max-width:100%" />
	</div>

	<div class="head-title">

		<details class="hand-written" style="text-align: center; font-style:italic; cursor:pointer;" closed>
			<summary style="list-style:none">
				<br />Your dreams are your wind,<br />
				Blowing your sails through the life,<br />
				Open your wings and fly,<br />
				Up into the sky...<br /><br />
			</summary>
			<p>
				To See how wide the horizon is,<br />
				Look around you and open your mind,<br />
				In your dreams, you see, the power is,<br />
				Not in your muscles or in your veins...
			</p>
		</details>
		&#8212M.Senturk
	</div>

</div>


<div class="sharedItems">
	<h2>
		<span id="en" class="lang-dependant">C# Projects</span>
		<span id="tr" class="lang-dependant">C# Çalışmalarım</span>
	</h2>
	<article class="topicArticle">
		<article onclick="location.href='https://github.com/kzlsahin/Workbench/tree/master/FileEncrypter'">
			<h3>
				<span id="en" class="lang-dependant">File Encrypter</span>
				<span id="tr" class="lang-dependant">Dosya Sifreleme</span>
			</h3>
			<img src="./images/FileEncrypterDesktop.png" alt="Uygulama Ekran Görüntüsü">
			<p>
				<a rel="nofollow" href="https://github.com/kzlsahin/Workbench/tree/master/FileEncrypter target="_blank">
					<span id="en" class="lang-dependant">
						A file encrypter for encrypting sensitive files to be able to store them in a drive.
					</span>
					<span id="tr" class="lang-dependant">
						Hassas dosyalarin sifrelenerek drive'da tutulabilmesi icin bir sifreleyici.
					</span>
					<i>https://github.com/kzlsahin/Workbench/...</i>
				</a>
			</p>
		</article>
		
		<article onclick="location.href='https://github.com/kzlsahin/AsyncCoffeShopSimulation'">
			<h3>
				<span id="en" class="lang-dependant">Asynchronous Coffee Shop Simulation</span>
				<span id="tr" class="lang-dependant">Asenkron Kahve Dükkanı Simülasyonu</span>
			</h3>
			<img src="./images/CoffeeShop.png" alt="Uygulama Ekran Görüntüsü">
			<p>
				<a rel="nofollow" href="https://github.com/kzlsahin/AsyncCoffeShopSimulation" target="_blank">
					<span id="en" class="lang-dependant">
						With workers handling customers and randomly spawning customers.
					</span>
					<span id="tr" class="lang-dependant">
						Gelen müşteriyi karşılayan çalışanlar ve rastgele ortaya çıkan müşteriler.
					</span>
					<i>https://github.com/kzlsahin/AsyncCoffeShopSimulation</i>
				</a><a src="https://www.youtube.com/watch?v=DBuh8PU3SPY" alt="youtube demo">
					<i>Youtube Demo</i>
				</a>
			</p>
		</article>

		<article onclick="location.href='https://github.com/kzlsahin/CalculatorApp'">
			<h3>
				<span id="en" class="lang-dependant">Calculator Application With a Custom Arithmetic Evaluator</span>
				<span id="tr" class="lang-dependant">Hesap Makinesi Uygulaması</span>
			</h3>
			<img src="./images/CalculatorApp.png" alt="Uygulama Ekran Görüntüsü">
			<p>
				<a rel="nofollow" href="https://github.com/kzlsahin/CalculatorApp" target="_blank">
					<span id="en" class="lang-dependant">
					</span>
					<span id="tr" class="lang-dependant">
					</span>
					<i>https://github.com/kzlsahin/CalculatorApp</i>
				</a>
			</p>
		</article>


	</article>

	<h2>
		<span id="en" class="lang-dependant">Java Sketches</span>
		<span id="tr" class="lang-dependant">Java Çalışmalarım</span>
	</h2>
	<article class="topicArticle">
		<article onclick="location.href='https://github.com/kzlsahin/mySociety'">
			<h3>
				My Society
			</h3>
			<img src="./images/mySociety-1.png" alt="skeç ekran görüntüsü">
			<p>
				<a rel="nofollow" href="https://github.com/kzlsahin/mySociety" target="_blank">

					<span id="en" class="lang-dependant">
						My entry level programming project in 2020, a java Tile Map 2D Game Engine draft written with Processing 3.4 (https://processing.org/).

						Started with the idea to solve the problem of how to render an isometric tilemap. Everything started with a pen and a sketch paper,
						drawing lines and trying to figure out the right algorithm to sort the tiles in such an order that the map is seen as a 3d image.
					</span>
					<span id="tr" class="lang-dependant">
						2020'de programlamaya giriş projem, Processing 3.4 ile yazılmış bir java Tile Map 2D Game Engine taslağı (https://processing.org/).

						İzometrik bir döşeme haritasının nasıl oluşturulacağı sorununu çözme fikriyle başladı. Her şey bir kalem ve eskiz kağıdıyla başladı,
						çizgiler çizmek ve karoları haritanın 3 boyutlu bir görüntü olarak görülmesini sağlayacak şekilde sıralamak için doğru algoritmayı bulmaya çalışmak.
					</span>
					<i>https://github.com/kzlsahin/mySociety</i>
				</a>
			</p>
		</article>
	</article>



	<h2>
		<span id="en" class="lang-dependant">JavaScript Projects</span>
		<span id="tr" class="lang-dependant">JavaScript Çalışmalarım</span>
	</h2>

	<article class="topicArticle">
		<article onclick="location.href='https://kzlsahin.online/Luxolis'">
			<h3>
				<span id="en" class="lang-dependant">Responsive Login Form</span>
				<span id="tr" class="lang-dependant">Responsive Login Form</span>

			</h3>
			<img src="./images/Login-Form.png" alt="uygulama ekran görüntüsü">
			<p>
				<a href="https://kzlsahin.online/Luxolis" title="login page">

					<span id="en" class="lang-dependant">
						Responsive login form with validaton.
					</span>
					<span id="tr" class="lang-dependant">
						Responsive login form with validaton.
					</span>
				</a>
				<i>https://kzlsahin.online/Luxolis/</i>
			</p>
		</article>
		
		<article onclick="location.href='https://kzlsahin.online/AreaCalculator/'">
			<h3>
				<span id="en" class="lang-dependant">Polygon Area Calculator</span>
				<span id="tr" class="lang-dependant">Poligon Alan Hesabı</span>

			</h3>
			<img src="./images/AreaCalculator.jpg" alt="uygulama ekran görüntüsü">
			<p>
				<a href="/AreaCalculator/" title="Area Calculator">

					<span id="en" class="lang-dependant">
						This page may be used to calculate area of a parcel by using google maps.
						You may copy coordinates of a point on the map by right click and then click on the coordinates
						shown on top of the menu.
					</span>
					<span id="tr" class="lang-dependant">
						u sayfayı Google maps üzerinden bir parselin veya bir poligon şeklin alanını hesaplamak için kullanabilirsiniz.
						Harita üzerinde bir noktaya sağ tıkladığınızda açılan menünün en üstünde koordinatlar görünür.
						Global koordinatlar seçeneği seçildiğine girilen koordinatlar metrik sisteme dönüştürülür.
					</span>
				</a>
			</p>
		</article>

		
		<article onclick="location.href='https://kzlsahin.online/TriangularDistribution_ver3/'">
			<h3>
				<span id="en" class="lang-dependant">Visualizing Triangular Distribution for DDEs</span>
				<span id="tr" class="lang-dependant">DDE Sistemlerde Üçgen Dağılımı Gösterimi</span>
			</h3>
			<img src="./images/TriangularDistribution.png" alt="uygulama ekran görüntüsü">
			<p>
				<a href="https://kzlsahin.online/TriangularDistribution_ver3/" title="Triangular Distribution app page">
					<span id="en" class="lang-dependant">
						Animator for a SEIR model with triangular probabilistic distribution used for reovery transition.

						I developed this application as a supportive part of my academic research.
						This app demonstrates that a triangular probabilistic distribution can be used as a multiple delay on delay differantial equations.
					</span>
					<span id="tr" class="lang-dependant">
						Bu uygulamayı akademik araştırmamın destekleyici bir parçası olarak geliştirdim.
						Bu uygulama, üçgen bir olasılık dağılımının gecikme diferansiyel denklemlerinde çoklu gecikme olarak kullanılabileceğini göstermektedir.
					</span>
				</a>
			</p>
		</article>

		<article onclick="location.href='https://kzlsahin.online/Fourier/'">
			<h3>
				<span id="en" class="lang-dependant">Fourier Series</span>
				<span id="tr" class="lang-dependant">Fourier Serisi</span>

			</h3>
			<img src="./images/FourierSeries.png" alt="uygulama ekran görüntüsü">
			<p>
				<a href="/Fourier/" title="Fourier Viewer">

					<span id="en" class="lang-dependant">
						A page that visualizes a fourier series. I have written the page to visualize
						Fourier series during my 2022, spring semester, Applied Mathematics lecture.
					</span>

					<span id="tr" class="lang-dependant">
						Fourier serisini görselleştiren bir sayfa.
						2022 bahar dönemimde, Uygulamalı Matematik dersim sırasında Fourier serileri çalışırken görselleştirmek için hazırlamıştım.
					</span>
				</a>
			</p>
		</article>
		<article onclick="location.href='https://openprocessing.org/sketch/746094'">
			<h3>
				<span id="en" class="lang-dependant">Simulation of Liquid Particles in a 2D Box</span>
				<span id="tr" class="lang-dependant">Bir Kutu İçinde Sıvı Partiküller</span>
			</h3>
			<img src="./images/LiquidParticles.png" alt="uygulama ekran görüntüsü">
			<p>
				<a rel="nofollow" href="https://openprocessing.org/sketch/746094" title="Mouse sol tuşuna tıklayarak cisimler ekleyin" target="_blank">
					<span id="en" class="lang-dependant">
						This is a simple animation for atoms behaving in liquid forms inside a box
					</span>
					<span id="tr" class="lang-dependant">
						Atomların sıvı formunda bir kutu içerisindeki hareketini gösteren animasyon
					</span>
					<i>https://openprocessing.org/sketch/746094</i>
				</a>
			</p>
		</article>
		<article onclick="location.href='/NeuralNetwork/PricePrediction.html'">
			<h3>
				<span id="en" class="lang-dependant">Deep learning</span>
				<span id="tr" class="lang-dependant">Derin Öğrenme Demo çalışması</span>

			</h3>
			<img src="./images/Sail_sq.png" alt="Uygulama Ekran Görüntüsü">
			<p>
				<a href="/NeuralNetwork/PricePrediction.html" title="Price Prediction">

					<span id="en" class="lang-dependant">
						An algorithm that learns to guess the prices of estates according to 6 parameters
					</span>
					<span id="tr" class="lang-dependant">
						6 parametre üzerinden emlak fiyatlarını tahmin etmeye çalışan bir algoritma
					</span>
				</a>
			</p>
		</article>

		<article onclick="location.href='https://kzlsahin.online/LinearRegression'">
			<h3>
				<span id="en" class="lang-dependant">Linear Regression</span>
				<span id="tr" class="lang-dependant">Lineer Regresyon</span>
			</h3>
			<img src="./images/LinearRegression.png" alt="uygulama ekran görüntüsü">
			<p>
				<a href="/LinearRegression" title="açılan siyah kanvas üzerinde farenin sol tuşuna basarak küreler oluşturun ve hareketlerini izleyin">
					<span id="en" class="lang-dependant">
						Lineer Regression is a method to find a line fits to a cloud of points.
						You will find an example on the page. Lineer regression is also an entry to machine learning.
					</span>
					<span id="tr" class="lang-dependant">
						Liner regresyon bir nokta bulutuna eğri uydurmak için kullanılan bir yöntemdir. Sayfada buna bir örnek bulacaksınız.
						Lineer regresyon aynı zamanda makine öğrenmesinin girişidir.
					</span>
				</a>
			</p>
		</article>
		<article onclick="location.href='https://kzlsahin.online/solarSystem'">
			<h3>
				<span id="en" class="lang-dependant">Gravitational Simulation of Celestial Bodies</span>
				<span id="tr" class="lang-dependant">Gök Cisimleri Simulasyonu</span>
			</h3>
			<img src="./images/SolarSystem.png" alt="uygulama ekran görüntüsü">
			<p>
				<a href="/solarSystem.html" title="Mouse sol tuşuna tıklayarak cisimler ekleyin">
					<span id="en" class="lang-dependant">
						A simulation demonstrating the celestial bodies orbit around a massive circle at the center (the sun maybe).
						You can create small celestial bodies by clicks on the dark space and even you can navigate through the space.
					</span>
					<span id="tr" class="lang-dependant">
						Merkezde büyük bir kütlenin (ör. Güneş) yer aldığı bir uzayda küçük kütlelerin nasıl yörünge izlediğini gösteren bir simülasyon.
						Uzaya tıklayarak yeni gök cisimleri oluşturabilir ve hatta uzayda gezebilirsiniz.
					</span>
				</a>
			</p>
		</article>

		<article onclick="location.href='/particles'">
			<h3>
				<span id="en" class="lang-dependant">Particles</span>
				<span id="tr" class="lang-dependant">Partikül Simülasyonu</span>
			</h3>
			<img src="./images/Particles.png" alt="Uygulama Ekran Görüntüsü">
			<p>
				<a href="/particles" title="açılan siyah kanvas üzerinde farenin sol tuşuna basarak küreler oluşturun ve hareketlerini izleyin">
					<span id="en" class="lang-dependant">
						Using p5.js library, I made a visual simulation of gravitational forces.
						Click on the page and the particules shall fly around.
					</span>
					<span id="tr" class="lang-dependant">
						P5.js kütüphanesini kullanarak kütleçekimsel bir görsel simülasyon oluşturdum.
						Açılan sayfada boşluğa tıklayın ve partiküller etrafta uçuşsun.
					</span>
				</a>
			</p>
		</article>
	</article>

	<h2>
		<span id="en" class="lang-dependant">Other Works</span>
		<span id="tr" class="lang-dependant">Diğer Çalışmalarım</span>
	</h2>
	<article class="topicArticle">

		<article>
			<h3>Einstain Nazariyesi - Mehmet Refik Fenmen</h3>

			<p>
				<a href="/PDFs/EinsteinNazariyesiGirişBölümü 02.02.2018.pdf" target="_blank">
					<span id="en" class="lang-dependant">
						I was working on transliteration from the alphabet to the new alphabet of the first edition
						of the book named "Einstein Theory" written by Mehmet Refik Fenmen. You may find the introduction chapter of first edition of Mehmet Refik Fenmen's this precious legacy.
					</span>
					<span id="tr" class="lang-dependant">
						Mehmet Refik Fenmen
						tarafından kaleme alınan "Einstain Nazariyesi" isimli kitabın birinci baskısının eski
						alfabeden yeni alfabeye çevirisi üzerinde çalışıyordum. Mehmet Refik Fenmenin bu değerli mirasının birinci baskısının
						giriş bölümü metnini burada bulabilirsiniz.
					</span>
				</a>
			</p>
		</article>
	</article>
</div>

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender) return;
		await Task.Delay(200);
		await JS.InvokeVoidAsync("checkLang"); // Calls the JS function
	}
}