<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mustafa Şentürk</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-person-fill" aria-hidden="true"></span> About Me
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="references">
                <span class="bi bi-briefcase-fill" aria-hidden="true"></span>References
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personalprojects">
                <span class="bi bi-briefcase-fill" aria-hidden="true"></span>Personal Projects
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="bi bi-envelope-fill" aria-hidden="true"></span> Contact
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="publishes">
                <span class="bi bi-pen-fill" aria-hidden="true"></span> Publishes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="writings">
                <span class="bi bi-pencil-square" aria-hidden="true"></span> Writings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="favorite-books">
                <span class="bi bi-book" aria-hidden="true"></span>Favorite Books
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
