
body {
  margin: 0;
  color: #000;
  background:linear-gradient(180deg, rgba(233,193,252,1) 0%, rgba(250,243,255,1) 10%, rgba(255,255,255,1) 85%);
  padding: 2em;
}

.red {
    color: red;
}

.blue {
    color: rgb(42, 170, 255);
}
input {
    background: none;
}
.standard-list li {

  list-style-type: none;
  border-bottom: 1px solid black;
  padding: 0.5em;

}

details {
  cursor: pointer;
}

h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
}

#selections {
  column-width: 100%;
  column-gap: 2em;
}

.sf-select {
  width: 22em;
  display: inline-block;
}

details {
    padding:0.9em;
    background:linear-gradient(90deg, rgba(217,141,255,1) 0%, rgba(246,232,255,1) 51%, rgba(242,225,255,1) 85%);
    border-radius: 0.4em;

}
details:hover {
    padding:1em;
    background:linear-gradient(90deg, rgb(224, 187, 243) 0%, rgba(246,232,255,1) 51%, rgba(242,225,255,1) 85%);
    
}

#report {
  padding: 1em;
  display: block;
  border: 2px solid black;
  min-height: 10em;
}


#expert-notes {
  background-color: lightgrey;
  display: block;
  min-height: 5em;
}

#expert-notes:hover {
  cursor: text;
}

input[type=checkbox] {
  cursor: pointer;
}

.inlineInput {
  min-width: 3em;
  display: inline;
  border: none;
  border-bottom: 1px dashed black;
  text-align: center;
}

.btn-output {
  width: 14em;
  height: 3em;
  border: 2px solid lightskyblue;
  border-radius: 5px;
  background-color: rgb(137, 212, 255);
  cursor: pointer;
}

.btn-print-empty {
  width: 14em;
  height: 3em;
  border: 2px solid rgba(250, 149, 103, 0.692);
  border-radius: 5px;
  background-color: rgb(250, 150, 103);
  cursor: pointer;
}

.btn-output:hover {
  border: 2px solid lightskyblue;
  background-color: rgb(171, 245, 250);
}

.btn-print-empty:hover {
  border: 2px solid lightskyblue;
  background-color: rgb(255, 182, 148);
}

#absent-papers {
  min-height: 2em;
}

#absent-papers:hover {
  cursor: pointer;
  background-color: beige;
}

.print {
  display: none;
}


.not-print {
  display: block;
}


@page {
  size: A4;
  margin: 11mm 17mm 17mm 17mm;
}

@media print {
  body {
    font-size: 12pt;
    margin: 0px;
  }

  header {
    position: fixed;

  }


#selections {
    column-width: 100%;
    column-gap: 2em;
  }
  
  .sf-select {
    width: 22em;
    display: inline-block;
  }
  
  details {
      padding:0.6em;
      background-color:none;
      border-radius: 0;
  
  }

  button {
    display: none;
  }

  select {
    appearance: none;
    border: none;
  }

  #chechlist-body {
    display: none;
  }

  #report {
    padding: 1em;
    page-break-inside: avoid;


  }

  .print {
    display: block;
  }

  span.print {
    display: inline;
  }

  .not-print {
    display: none;
  }
}
