:root {
  --main-bg-color: rgb(253, 253, 250);
  --text-color: rgb(116, 102, 50);
}

html {
  height: 100vh;
  padding: 0px;
  background-color: var(--main-bg-color);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html:fullscreen {
  background-color: var(--main-bg-color);
}

body {
  padding-top: 2em;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  width: 100%;
  margin: auto;
  height: 100%;
  min-height: fit-content;
  overflow-x: hidden;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  overscroll-behavior-y: contain;
}

.div-banner {
  position: absolute;
  top: 0px;
  margin: auto;
  display: block;
  width: 100vw;
  height: 2em;
  background-color: var(--text-color);
  color: var(--main-bg-color);
  text-align: left;
  font-size: 0.5rem;
}
h1 {
  font-size: x-large;
  text-align: center;
}

h2 {
  font-size: large;
  text-align: center;
}

h3 {
  width: 80%;
}

.page {
  position:relative;
  margin: auto;
  display: block;
  width: 100%;
  max-width: 98ch;
  transition: all ease-in-out 0.5s;
}

.main-frame {
  position : absolute;
  top :0;
  margin: auto;
  display: block;
  width: 100%;
  max-width: 95ch;
  transition: all ease-in-out 0.5s;
}

.open {
  position: relative;
  right: 0;
  transition: all ease-in-out 0.5s;
}

.closed {
  position : absolute;
  top :0;
  right: 150%;
  transition: all ease-in-out 0.5s;
}

.active {
    cursor:pointer;
}
.sub_page_header {
    
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: static;
  width: 100%;
}

.sub_page_header .header-nextPage-sign {
    display: block;
    min-width: 2em;
  margin: 0px;
  font-weight: 600;
  font-size: 1.5rem;
}

.sub_page_header .header-nextPage-sign .left{
    text-align: left;
}

.sub_page_header .header-nextPage-sign .rigth{
    text-align: right;
}
.sub_page_header h2 {
    display: block;
  margin: 0px;
  font-size: 1.2rem;
  align-content: center;
  flex-grow: 2;
}

.full-width {
  width: 100%;
  margin: 0.5rem;
}

fieldset {
  margin: auto;
  width: 90%;
  border-radius: 0.4em;
}

label {
  display: inline-block;
  width: 35%;
}

input {
  font-size: 1.4rem;
  width: 30%;
  height: 2rem;
  min-width: 15em;
  border-radius: 0.2em;
  background-color: white;
}

.checkbox {
  cursor: pointer;
}
.result-field {
  font-weight: bold;
  background-color: var(--main-bg-color);
  cursor : none;
}

.btn-calculate {
  display: block;
  background-color: var(--text-color);
  color: var(--main-bg-color);
  border-radius: 0.2em;
  font-size: 1.2rem;
  margin: auto;
  margin-top: 1em;
  width: 70%;
  max-width: 40ch;
  height: 2em;
}

.btn-calculate:hover {
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.btn-calculate {
  transition: color, background-color 0.5s ease;
}

body:fullscreen {
  background-color: var(--main-bg-color);
}
.page-footer {
  margin-top: 2em;
}
.page-footer p {
  margin: auto;
  width: 100%;
  text-align: center;
  transition: all ease-in-out 0.5s;
}

.logo {
  height: 4em;
}

.page-footer a {
  color: var(--text-color);
}

.footer-logo {
  display: block;
  height: 4rem;
  margin: auto;
}

.foot-note {
  text-align: center;
  font-size: 0.8rem;
}

@media only screen and (max-width: 850px) {
  body {
    font-size: 10pt;
  }

  h1 {
    font-size: 14pt;
  }

  h2 {
    font-size: 10pt;
  }

  h3 {
    font-size: 10pt;
  }
}

@media all and (display-mode: standalone) {
  body {
    background-color: var(--main-bg-color);
  }
}
